# Agregace a spojování

> ‎
> 
> Odkaz na kodim.cz (Kurz Python pro data 1)
>
> https://stage.kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani
> 
> ‎

<br>
<br>




### O čem budeme mluvit?
1. Práce s chybějícími hodnotami
2. Spojení dat
3. Propojení dat
4. Agregace
5. Řazení

<br>

### Cvičení
* Studenti

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## Co už umíme

**Vytvořit DataFrame**

např. `data = pandas.read_csv('soubor.csv')`

**Nastavovat index**

`data.set_index("sloupec")`

**Vybírat data**

- pomocí číselného indexu `data.iloc[3:5, 0]`
- pomocí nastaveného indexu `data.loc["hodnota indexu","sloupec"]`

**Filtrovat data**

- pomocí podmínek `filtrovana data = data[data["sloupec"] < 1]`
- kombinací podmínek s operátory `&` nebo `|`
- s funkcí `.isin()`

**Trochu počítat**

`data["sloupec"].sum()`

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## Co budeme potřebovat?

### CSV soubory

3 soubory s daty o výsledcích maturitních zkoušek:

- u202.csv
- u203.csv
- u204.csv

Soubory si stáhneme z **kodim.cz**.

In [1]:
import requests

r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/assets/u202.csv")
open("u202.csv", "wb").write(r.content)
r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/assets/u203.csv")
open("u203.csv", "wb").write(r.content)
r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/assets/u302.csv")
open("u302.csv", "wb").write(r.content)

308

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

### DataFrame

In [3]:
import pandas

Vytvoříme pandas DataFrame

In [4]:
u202 = pandas.read_csv('u202.csv')
u203 = pandas.read_csv('u203.csv')
u302 = pandas.read_csv('u302.csv')

Podíváme se na data

In [5]:
print(u202)

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

---

## [1] Práce s chybějícími hodnotami
anglicky _missing values_


**Co je chybějící hodnota?**
- hodnota `NaN` (Not a Number)
    - _napr. prazdna bunka v csv --> rovnou nahrazena NaN_
- `None` = zabudovaná konstanta v Pythonu 
- `pd.NA` = zatím experiment hodnota, která by měla reprezentovat chybějící hodnoty všech typů

<br>
<br>

**Co není chybějící hodnota?**
- řetězec `''` nebo `'NaN'` and `'None'`
- `inf` / `-inf` = infinity je nedefinované číslo, kladné nebo záporné

<br>
<br>

**Jak s chybějící hodnotou zacházet?**
1. Nejlepší je vždy ověření, proč údaje chybí (např. u poskytovatele dat) a pokud je to možné, zajistit jejich doplnění.
2. Nahradit chybějící hodnoty jinými hodnotami.
3. Odstranit všechny řádky s chybějícími daty z datového setu.
4. Vyčlenit je do separátního datasetu a zpracovat je zvlášť.

_Důležité je mít na paměti, že vyřazením některých řádků může dojít ke zkreslení výsledků analýzy!_

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

### Odstranění neúplných řádků

**Jak chybějící hodnoty najít a odstranit**

**`isnull()`** 

**`notnull()`**

Obě metody vrací hodnoty `True` nebo `False`

In [ ]:
## Vyzkousime si isnull()

print(u202['znamka'].isnull())
# print(u202['znamka'].isna())

In [8]:
## Vyzkousime si notnull()

print(u202["znamka"].isnull())
print(u202['znamka'].notnull())

# print(u202['znamka'].notna())

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10    False
11    False
12    False
13    False
14    False
Name: znamka, dtype: bool

In [9]:
## Najedeme je ty, kde isnull() je True

print(u202[u202["znamka"].isnull()])


# print(u202[u202['znamka'].isnull()])

   cisloStudenta  predmet  znamka den
0              1   Chemie     NaN  pá
9              9  Dějepis     NaN  pá

### Další metody na práci s chybějícími hodnotami


**`dropna()`**
- vrátí datový set očištěn od chybějících dat
- `dropna(axis=1)` --> odstraní všechny sloupce, které obsahují chybějící data
- Dokumentace: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html
<br>
<br>


**`fillna(x)`**
- nahradí všechna chybějící data a hodnoty hodnotou x
- Dokumentace: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html

In [21]:
## Příklady těchto metod - pojďme si to vyzkoušet

testovaci_data = u202[u202['znamka'].isnull()]
# print(testovaci_data)


# cisteni = u202.dropna(axis=0)
# print(cisteni)

# cisteni_s_dropna = testovaci_data.dropna()
# print(cisteni_s_dropna)

# cisteni_s_dropna_sloupce = testovaci_data.dropna(axis=1)
# print(cisteni_s_dropna_sloupce)


print(u202.fillna(100))

# cisteni_s_fillna = testovaci_data.fillna('Hodnota chybí')
# print(cisteni_s_fillna)

    cisloStudenta           predmet  znamka den
0               1            Chemie   100.0  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis   100.0  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## [2] Spojení dat

Pojďme spojit naše tři tabulky dohromady.

- Tabulky spojíme pod sebe. 
- Budeme stále mít tři sloupce.
- Počet řádků bude odpovídat počtu řádků všech tří tabulek dohromady.
- _V SQL tomu odpovídá operace `UNION`._

Použijeme naše DataFrames a očistíme je řádky s chybějícími hodnotami

In [ ]:
# u202 = pandas.read_csv('u202.csv')
# u202 = pandas.read_csv('u202.csv').dropna()

In [22]:
## Kontrola

u202_clean = u202.dropna()

print(u202.shape)
print(u202_clean.shape)

(15, 4)
(13, 4)

In [25]:
## Tak to pojďme vyčistit
u202 = pandas.read_csv('u202.csv').dropna()
u203 = pandas.read_csv('u203.csv').dropna()
u302 = pandas.read_csv('u302.csv').dropna()

**Funkce `concat`**

In [23]:
maturita = pandas.concat([u202, u203, u302])
print(maturita)
# maturita = pandas.concat([u202, u203, u302])


# pandas.concat([data1, data2, data3, data4])

    cisloStudenta           predmet  znamka den
0               1            Chemie     NaN  pá
1               2           Dějepis     3.0  pá
2               3        Matematika     2.0  út
3               2  Společenské vědy     2.0  pá
4               4          Biologie     1.0  pá
5               5           Dějepis     1.0  po
6               6            Fyzika     2.0  čt
7               7           Dějepis     4.0  po
8               8        Matematika     2.0  po
9               9           Dějepis     NaN  pá
10             10            Chemie     2.0  st
11              3            Chemie     5.0  út
12             11        Matematika     1.0  st
13             12          Biologie     4.0  st
14             10           Dějepis     5.0  st
0               5  Společenské vědy     3.0  po
1              13        Matematika     5.0  po
2               7       Informatika     3.0  po
3              12            Fyzika     3.0  st
4              14            Fyzika     3.0  st
5              15            Chemie     3.0  pá
6              16       Informatika     2.0  út
7               8           Zeměpis     1.0  po
8              17            Fyzika     4.0  po
9              15  Společenské vědy     3.0  pá
10             19       Informatika     NaN  po
11             20            Fyzika     2.0  čt
12              9  Společenské vědy     NaN  pá
13             21          Biologie     4.0  st
14             22           Zeměpis     3.0  út
0              23       Informatika     1.0  po
1              23  Společenské vědy     1.0  po
2               6        Matematika     5.0  čt
3               4       Informatika     1.0  pá
4              16          Biologie     2.0  út
5              20        Matematika     1.0  čt
6              21       Informatika     4.0  st
7              11            Chemie     5.0  st
8              14           Dějepis     3.0  st
9              19  Společenské vědy     NaN  po
10             13            Chemie     4.0  po
11             22       Informatika     3.0  út
12              1           Zeměpis     NaN  pá
13             17        Matematika     3.0  po

! Pozor: funkce rozbije index. 
<br>
<br>
Spojí totiž indexy tabulek za sebe např. 1 2 3 1 2 3 1 2 3. <br>
Pomůže nám parameter `ignore_index`

In [26]:
maturita = pandas.concat([u202, u203, u302], ignore_index=True)



print(maturita)



# , ignore_index=True)

    cisloStudenta           predmet  znamka den
0               2           Dějepis     3.0  pá
1               3        Matematika     2.0  út
2               2  Společenské vědy     2.0  pá
3               4          Biologie     1.0  pá
4               5           Dějepis     1.0  po
5               6            Fyzika     2.0  čt
6               7           Dějepis     4.0  po
7               8        Matematika     2.0  po
8              10            Chemie     2.0  st
9               3            Chemie     5.0  út
10             11        Matematika     1.0  st
11             12          Biologie     4.0  st
12             10           Dějepis     5.0  st
13              5  Společenské vědy     3.0  po
14             13        Matematika     5.0  po
15              7       Informatika     3.0  po
16             12            Fyzika     3.0  st
17             14            Fyzika     3.0  st
18             15            Chemie     3.0  pá
19             16       Informatika     2.0  út
20              8           Zeměpis     1.0  po
21             17            Fyzika     4.0  po
22             15  Společenské vědy     3.0  pá
23             20            Fyzika     2.0  čt
24             21          Biologie     4.0  st
25             22           Zeměpis     3.0  út
26             23       Informatika     1.0  po
27             23  Společenské vědy     1.0  po
28              6        Matematika     5.0  čt
29              4       Informatika     1.0  pá
30             16          Biologie     2.0  út
31             20        Matematika     1.0  čt
32             21       Informatika     4.0  st
33             11            Chemie     5.0  st
34             14           Dějepis     3.0  st
35             13            Chemie     4.0  po
36             22       Informatika     3.0  út
37             17        Matematika     3.0  po

**Vytvoření nového sloupce**

Spojením tabulek jsme ztratili informace o čísle místnosti. 

Můžeme si ale číslo místnosti před spojením uložit do nového sloupečku.

In [29]:
# dataframe["znamka"] = 'hodnota'

# u202["mistnost"] = 'u202'

u202['mistnost'] = 'u202'
u203['mistnost'] = 'u203'
u302['mistnost'] = 'u302'

# print(u302)

maturita = pandas.concat([u202, u203, u302], ignore_index=True)

    cisloStudenta           predmet  znamka den mistnost
0              23       Informatika     1.0  po     u302
1              23  Společenské vědy     1.0  po     u302
2               6        Matematika     5.0  čt     u302
3               4       Informatika     1.0  pá     u302
4              16          Biologie     2.0  út     u302
5              20        Matematika     1.0  čt     u302
6              21       Informatika     4.0  st     u302
7              11            Chemie     5.0  st     u302
8              14           Dějepis     3.0  st     u302
10             13            Chemie     4.0  po     u302
11             22       Informatika     3.0  út     u302
13             17        Matematika     3.0  po     u302

**Uložení tabulky do souboru**

In [36]:
# dataframe.to_csv('soubor.csv', index=False)


maturita.to_csv('export_maturita.csv', index=False, sep='-')

Tabulku si můžete stáhnout zde: https://stage.kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/maturita.csv

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

**PAUZA**

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## [3] Propojení dat

- Tabulky můžeme spojit více zbůsoby. 
- _V SQL tomu odpovídá operace `JOIN`._
- Výsledná tabulka bude mít více sloupců.
- Počet řádků na typu propojení.

**Typy propojení**

![Druhy propojeni](type_of_join_operations.png)

**Přidáme další tabulku**

Naše výsledky byly anonymní. Pokud bychom ale chtěli vytisknout maturitní vysvědčení, potřebujeme k číslům studenta zjistit jejich jména. 

Jména najdeme v samostatné tabulce `studenti.csv`. Načtěme si jej jako `DataFrame`.

In [ ]:
import requests

r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/assets/studenti.csv")
open("studenti.csv", "wb").write(r.content)

studenti = pandas.read_csv('studenti.csv')

# studenti.head()

U operace `JOIN` jsou důležité dvě věci:

- Podle jakého sloupce (nebo jakých sloupců) dvě různé tabulky propojujeme.
- Co udělat v případě, že pro nějaké řádky nemám ve druhé tabulce odpovídající hodnotu.

**Funkce `merge`**

Dokumentace: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html

In [ ]:
propojeny_df = pandas.merge(u202, studenti)

Ve výchozím nastavení funkce merge() ponechá pouze řádky, které mají záznamy v obou tabulkách. 

V SQL bychom tuto operaci označili jako INNER JOIN.

In [ ]:
"""
Pokud by například nějaký student nebyl uvedený v tabulce se studenty, jeho maturitní výsledek by zmizel. 
U nového DataFrame bychom tedy měli zkontrolovat, zda má spojenyDF stejný počet řádků jako u202.
"""

print(u202.shape)

print(propojeny_df.shape)

**Tabulka s předsedy maturitních komisí**

In [ ]:
r = requests.get("https://kodim.cz/czechitas/progr2-python/python-pro-data-1/agregace-a-spojovani/assets/predsedajici.csv")
open("predsedajici.csv", "wb").write(r.content)

preds = pandas.read_csv('predsedajici.csv')

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds)
print(novy_propojeny_df.head())

Tentokrát jsme příliš neuspěli, výsledný DataFrame je prázdný. 

Protože v obou DataFrame máme sloupec **jmeno**, v jednom případě však jde o jméno studenta a ve druhém o jméno předsedy komise. 

Musíme říct, že chceme data spojit pouze podle sloupce den.

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'])
novy_propojeny_df.head()

**Zmizely nám řádky!**

To znamená, že funkce `merge()` **nenašla pro všechna zkoušení odpovídajícího předsedu**. 

<br>

Zkusme nyní říct funkci `merge()`, aby nám zachovala v prvním DataFrame ty řádky, pro které nenajde odpovídající záznam. 

Této operaci se v jazyce SQL říká **LEFT OUTER JOIN**. 

My ho provede tak, že funkci `merge()` jako parametr how zadáme hodnotu `left`.

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'], how="outer") 

print(novy_propojeny_df.shape)

novy_propojeny_df

Zkusme si zobrazit ty řádky, které se nepodařilo propojit. 

Poznáme je tak, že mají prázdný sloupec datum.

Z nějakého důvodu nám nefunguje propojení v případě, že ve sloupci den je hodnota po.

**funkce `strip()`**

z řetězce odstraní mezery (a další bílé znaky) na začátku a na konci

In [ ]:
preds["den"] = preds["den"].str.strip()

In [ ]:
novy_propojeny_df = pandas.merge(propojeny_df, preds, on=['den'], how="outer")

**Přejmenování sloupců**

In [ ]:
novy_propojeny_df = novy_propojeny_df.rename(columns={'jmeno_x': 'jmeno', 'jmeno_y': 'predseda'})

---

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

## [4] Agregace

**metoda `groupby()`**

Pomocí metody groupby vyrobíme z `DataFrame` speciální objekt `DataFrameGroupBy`. 

`maturita.groupby('mistnost')`

**Agregační funkce**

In [ ]:
maturita.groupby('mistnost').count()

Další užitečné agregační funkce jsou například:

* `sum` - součet hodnot,
* `max` - maximální hodnota,
* `min` - minimální hodnota,
* `first` - první hodnota,
* `last` - poslední hodnota,
* `mean` - průměr z hodnot,
* `median` - medián z hodnot.

![Princip agragace](groupby.png)

**Agregace vybraných sloupců**

In [ ]:
maturita.groupby('predmet')['znamka'].mean()

In [ ]:
## Nebo více sloupců
maturita.groupby('predmet')[['znamka', 'cisloStudenta']].mean()

**ČTENÍ NA DOMA**

**Funkce `.agg()`**

`maturita.groupby("cisloStudenta").agg({"znamka": ["max", "mean"]})`

Dokumentace: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.agg.html

<br>

**Počítané sloupce**

`staty["population_density"] = staty["population"] / staty["area"]`

---

## [5] Řazení

**Metoda `sort_values`**

Metoda `sort_values` standardně řadí vzestupně. 

Chceme-li řadit sestupně, zadáme jí parametr `ascending` a nastavíme ho na `False`.

In [ ]:
maturita.sort_values(by="predmet")